.button{width: 128px; display: block;}

body{background-image: url('./texture/stone.png');}

table{
    border-spacing: 20px;
}

.final{
    width: 660px;
    position: absolute;
}
p{
    font-family: 'Minecraft';
    color: white;
    font-size: 16px;
    padding: auto;
    background-color: rgb(0, 0, 0);
}

@font-face {
font-family: "Minecraft";
src: url("./font/minecraft.ttf");
}
